{% from "macros/fields.html" import render_text_field, render_area_field %}
{% extends "layout.html" %}

{% block head_content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}" />
{% endblock %}

{% block main_content %}
{% with messages = get_flashed_messages(with_categories=true) %}
  {%- for category, message in messages %}
      <span class="form__flash form__flash--{{category}}"> {{ message }}</span>
  {% endfor %}
{% endwith %}

<form action="{{ url_for('pages.change_password') }}" class="form" novalidate method="post">
  <div class="form__container">
    {{ form.hidden_tag() }}
    {{ render_text_field(form.old) }}
    {{ render_text_field(form.new1) }}
    {{ render_text_field(form.new2) }}    
    <div>
      {{ form.submit(class_="button button--form")}}
    </div>
  </div>
</form>

{% endblock %}
