{% from "macros/svgs.html" import star, pencil %}

{% extends "layout.html" %}

{%- block head_content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/movie_details.css') }}" />
{% endblock %}

{% block main_content %}
<div class="container">
    <header class="movie__header">
        <div class="header__row">
            <div class="movie__name">
                <h1>{{ th_movie.title }}</h1>
                <div class="movie__rating">
                    {% for i in range(5) %}
                    <a class="rating__link " href="{{ url_for('pages.rating', _id = th_movie._id, rating = i+1) }}">
                      {{ star("star "+ ('star--filled' if th_movie.rating > i else '')) }}
                    </a>
                    {% endfor %}
                </div>
            </div>
            <div class="movie__watched">
                {% if th_movie.last_watched %}
                    <p>
                        Last watched: <a href="{{ url_for('pages.watch_date', _id = th_movie._id) }}" class="watched__link">
                            <time datetime="{{ th_movie.last_watched }}">{{th_movie.last_watched}}</time>
                        </a>
                    </p>
                {% else %}
                    <p><a href="{{ url_for('pages.watch_date', _id = th_movie._id) }}" class="watched__link">Not watched yet</a></p>
                {% endif %}

                {% if th_check %}
                <a class="movie__edit" href="{{ url_for('pages.edit_movie', _id = th_movie._id) }}">Edit {{ pencil("pencil") }}</a>
                {% else %}
                <p class="prohibit_message"></p>
                <a class="movie__edit movie__edit_prohibit" href="#">Edit {{ pencil("pencil") }}</a>
                {% endif %}
            </div>
        </div>
        <div class="header__row">
            <ul class="movie__tags">
            {% for tag in th_movie.tags %}
                <li class="movie__tag">{{ tag }}</li>
            {% endfor %}
            </ul>
        </div>
    </header>

    {% if th_movie.video_link %}
    <iframe
        class="movie__video"
        src="{{ th_movie.video_link }}"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
    </iframe>

    {% if th_movie.description %}
    <p class="movie__description">{{ th_movie.description }}</p>
{% else %}
    <p class="movie__description">No description yet. <a class="link" href="#">Add one?</a></p>
{% endif %}

  <div class="movie__meta">
      {% if th_movie.cast %}
          <div class="movie__casting">
              <h2>Casting</h2>
              <ul class="list">
              {% for actor in th_movie.cast %}
                  <li class="list__item">{{ actor }}</li>
              {% endfor %}
              <ul>
          </div>
      {% endif %}
      {% if th_movie.series | length %}
          <div class="movie__series">
              <h2>Series</h2>
              <ul class="list">
              {% for movie_in_series in th_movie.series %}
                  <li class="list__item">{{ movie_in_series }}</li>
              {% endfor %}
              <ul>
          </div>
      {% endif %}
  </div>
{% endif %}
</div>

<script>
    document.getElementsByClassName("movie__edit_prohibit")[0].addEventListener("mouseover", function() {
        document.getElementsByClassName("prohibit_message")[0].innerHTML = "Cannot edit due to lack of ownership!";
    });   
    document.getElementsByClassName("movie__edit_prohibit")[0].addEventListener("mouseout", function() {
        document.getElementsByClassName("prohibit_message")[0].innerHTML = "";
    });   
</script>
{% endblock %}