{% from "macros/svgs.html" import star, pencil %}

{% extends "layout.html" %}

{%- block head_content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user_details.css') }}" />
{% endblock %}

{% block main_content %}
<div class="container">
  <h2>{{ th_user.name }}</h2>
  <img src="{{ url_for('static', filename= th_user.img) }}" alt="">
  <p>Email: {{ th_user.email }}</p>

  <p>Favorites Genre</p>
  {% if len(th_user.favorites) > 0 %}
  <ul class="movie__tags">
    {% for genre in th_user.favorites %}
      <li class="movie__tag">{{ genre }}</li>
    {% endfor %}
  </ul>
  {% else %}
  <p>No genres yet</p>
  {% endif %}
  
</div>
{% endblock %}